<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>자판기 상품 등록</title>
  <link rel="stylesheet" href="/style.css">

</head>
<body>
<div class="container">
  <div class="title">★ 자판기 상품 등록 ★</div>

  <form id="productForm" th:action="@{/api/products}" method="post" th:object="${product}">
    <input type="text" name="name" placeholder="상품명" required><br>
    <input type="number" name="price" placeholder="가격" required><br>
    <input type="date" name="limit_date" required><br>
    <div class="buttons">
      <button type="submit" method="post">상품 등록</button>
    </div>
  </form>
</div>

<script>
  document.getElementById("productForm").addEventListener("submit", function(e) {
    e.preventDefault();
    const formData = new FormData(this);
    const data = Object.fromEntries(formData.entries());

    fetch("/api/products", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
    }).then(res => {
        if (res.ok) {
            alert("상품이 등록되었습니다!");
            window.location.href = "/"; // 목록 페이지로 이동
        }
    });
  });
</script>
</body>
</html>
