<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>자판기 프로그램</title>
    <link rel="stylesheet" href="/index.css">

</head>
<body>
<div class="container">
    <div class="title">★ 자판기 프로그램 ★</div>

    <button class="end-btn">−</button>

    <div class="header">
        <button class="dropdown">▽ 자판기 상품 목록</button>
        <div class="toggle-wrapper">
            <div class="toggle-container">
                <label>한글</label>
                <div class="toggle" id="languageToggle"></div>
                <label>ENG</label>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="product-list">상품 목록이 비어있습니다.</div>
        <div class="status">▲ 총 0개의 상품이 있습니다.</div>
        <a th:href="@{/add}" class="add-btn" id="addProductBtn">상품 추가하기!</a>
    </div>
</div>
</body>
</html>
